@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin user-select-none() {
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;
}

@mixin border-box() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin shadow($value) {
    -moz-box-shadow: $value;
    -webkit-box-shadow: $value;
    box-shadow: $value;
}

@function color($color-name, $color-variant: null) {
  // color variant is optional
  @if ($color-variant !=null) {
    // map inception
    @return map-get(map-get($colors, $color-name), $color-variant);
  } @else {
    @return map-get($colors, $color-name);
  }
}
