$type-list: primary, secondary, success, danger, warning, info, dark;
$colors: (
  primary: #3abeff,
  primary-hover: #338ebb,
  secondary: #808c9e,
  secondary-hover: #6f7988,
  success: #59c17c,
  success-hover: #53a06d,
  danger: #d64d61,
  danger-hover: #b64657,
  warning: #f8a841,
  warning-hover: #d39340,
  info: #89defa,
  info-hover: #80cae2,
  light: #f1f1f1,
  light-hover: #ebe9e9,
  dark: #02364c,
  dark-hover: #042836
);
