brn-column {
  display: block;
  padding: 0 0.9375rem;
  position: relative;
  > .div {
    width: 100%;
    height: 100%;
  }
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}
