brn-checkbox {
    label {
        position: relative;

        @include user-select-none;

        input {
            display: none;
        }

        .checkmark {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 1.2rem;
            height: 1.2rem;
            background-color: color(light);
            transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.15s ease-in-out;

            @include border-radius(4px);

            &:hover {
                background-color: color(light-hover);
            }
        }

        .text {
            padding-left: 1.5rem;
        }
    }
}
